<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<link rel="stylesheet" type="text/css" href="http://assets.cookieconsent.silktide.com/current/style.min.css"/>
<script type="text/javascript" src="http://assets.cookieconsent.silktide.com/current/plugin.min.js"></script>
<script type="text/javascript">
// <![CDATA[
cc.initialise({
	cookies: {
		analytics: {}
	},
	settings: {
		consenttype: "implicit",
		style: "light",
		bannerPosition: "bottom",
		disableallsites: true,
		onlyshowbanneronce: true,
	},
	strings: {
		socialDefaultTitle: 'Social media',
		socialDefaultDescription: 'Facebook, Twitter and other, social websites need to know ,who you are to work properly.',
		analyticsDefaultTitle: 'Analytics',
		analyticsDefaultDescription: 'We anonymously measure your use of this website to improve your experience.',
		advertisingDefaultTitle: 'Advertising',
		advertisingDefaultDescription: 'Adverts will be chosen for you automatically based on your past behaviour and interests.',
		necessaryDefaultTitle: 'Strictly necessary',
		necessaryDefaultDescription: 'Some cookies on this website are strictly necessary and cannot be disabled.',
		defaultTitle: 'Default cookie title',
		defaultDescription: 'Default cookie description.',
		learnMore: 'Learn more',
		closeWindow: 'Close window',
		notificationTitle: 'Your experience on this site will be improved by allowing cookies',
		notificationTitleImplicit: 'This page uses cookies to improve user experience on the website. If you continue browsing it, we assume your consent.',
		customCookie: 'This website uses a custogm type of cookie which needs specific approval',
		seeDetails: 'see details',
		seeDetailsImplicit: 'change your settings',
		hideDetails: 'hide details',
		allowCookies: 'Allow cookies',
		allowCookiesImplicit: 'Close',
		allowForAllSites: 'Allow for all sites',
		savePreference: 'Save preference',
		saveForAllSites: 'Save for all sites',
		privacySettings: 'Privacy settings',
		privacySettingsDialogTitleA: 'Privacy settings',
		privacySettingsDialogTitleB: 'for this website',
		privacySettingsDialogSubtitle: 'Some features of this website need your consent to remember who you are.',
		changeForAllSitesLink: 'Change settings for all websites',
		preferenceUseGlobal: 'Use global setting',
		preferenceConsent: 'I consent',
		preferenceDecline: 'I decline',
		notUsingCookies: 'This website does not use any cookies.',
		allSitesSettingsDialogTitleA: 'Privacy settings',
		allSitesSettingsDialogTitleB: 'for all websites',
		allSitesSettingsDialogSubtitle: 'You may consent to these cookies for all websites that use this plugin.',
		backToSiteSettings: 'Back to website settings',
		preferenceAsk: 'Ask me each time',
		preferenceAlways: 'Always allow',
		preferenceNever: 'Never allow',
	}
});
// ]]>
</script>
<!-- End Cookie Consent plugin -->
